@page "/nba_stacks"
@using SportsSimulator.Shared
@using SportsSimulator.Shared.Models
@using System.Reflection

<style>
td {
	padding-left: 4px;
	padding-right: 4px;
}
</style>

<PageTitle>NBA</PageTitle>
<h1>NBA</h1>

<div>
	<h3>Build</h3>
	<img src="~/css/"
	<button @onclick="@BuildLineups">Build</button>
</div>

<strong>@lineups.Count()</strong>
<hr />
@*@if (fetching) {
	<div>Building Lineups!!!!</div>
}*@

<table class="table-bordered">
	@foreach (var lineup in lineups) {
		
		<tr>
			<td colspan="2">
				@foreach (var player in lineup.PlayersList) {
					@player.PlayerName<br />
				}
			</td>
			<td>
				<table>
					<tr><td>@lineup.TotalValue</td></tr>
					<tr><td>@lineup.TotalPoints</td></tr>
					<tr><td>@(50000 - lineup.RemainingSalary())</td></tr>
				</table>				
			</td>
		</tr>
		<tr>
			<td colspan="3">
				@lineup.ToCSV()
			</td>
		</tr>
	}
</table>