@page "/stacks"
@inject ISnackbar Snackbar

<h1>Stacks</h1>

<h4>NBA</h4>

<MudGrid>
	<MudItem xs="2">
		<strong>PG</strong>		
	</MudItem>
	<MudItem xs="2">
		<strong>SG</strong>
	</MudItem>
	<MudItem xs="2">
		<strong>SF</strong>
	</MudItem>
	<MudItem xs="2">
		<strong>PF</strong>
	</MudItem>
	<MudItem xs="2">
		<strong>C</strong>
	</MudItem>
	<MudItem xs="2">
		
	</MudItem>
	@foreach (var stack in NBA_Stacks) {
		<MudItem xs="2">
			<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
				<ActivatorContent>
					<MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowDropDown">
						@if (stack.PG_PlayerId > 0) {
							<MudChip Style="@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.PG_PlayerId)?.TeamCSS">
								<strong>@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.PG_PlayerId)?.PlayerName</strong>
							</MudChip>
						} else {
							<MudText>Select Player</MudText>
						}
					</MudButton>
				</ActivatorContent>
				<ChildContent>
					@foreach (var player in NBA_Players.Where(p => p.Position.Contains("PG"))) {
						<MudMenuItem OnClick="@(() => AddPlayerToStack(player.PlayerId, stack, "PG"))">
							<MudChip Style="@player.TeamCSS">
								@player.PlayerName
							</MudChip>
						</MudMenuItem>
					}
				</ChildContent>
			</MudMenu>
		</MudItem>
		<MudItem xs="2">
			<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
				<ActivatorContent>
					<MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowDropDown">
						@if (stack.PG_PlayerId > 0) {
							<MudChip Style="@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.SG_PlayerId)?.TeamCSS">
								<strong>@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.SG_PlayerId)?.PlayerName</strong>
							</MudChip>
						} else {
							<MudText>Select Player</MudText>
						}
					</MudButton>
				</ActivatorContent>
				<ChildContent>
					@foreach (var player in NBA_Players.Where(p => p.Position.Contains("SG"))) {
						<MudMenuItem OnClick="@(() => AddPlayerToStack(player.PlayerId, stack, "SG"))">
							<MudChip Style="@player.TeamCSS">
								@player.PlayerName
							</MudChip>
						</MudMenuItem>
					}
				</ChildContent>
			</MudMenu>
		</MudItem>
		<MudItem xs="2">
			<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
				<ActivatorContent>
					<MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowDropDown">
						@if (stack.PG_PlayerId > 0) {
							<MudChip Style="@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.SF_PlayerId)?.TeamCSS">
								<strong>@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.SF_PlayerId)?.PlayerName</strong>
							</MudChip>
						} else {
							<MudText>Select Player</MudText>
						}
					</MudButton>
				</ActivatorContent>
				<ChildContent>
					@foreach (var player in NBA_Players.Where(p => p.Position.Contains("SF"))) {
						<MudMenuItem OnClick="@(() => AddPlayerToStack(player.PlayerId, stack, "SF"))">
							<MudChip Style="@player.TeamCSS">
								@player.PlayerName
							</MudChip>
						</MudMenuItem>
					}
				</ChildContent>
			</MudMenu>
		</MudItem>
		<MudItem xs="2">
			<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
				<ActivatorContent>
					<MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowDropDown">
						@if (stack.PG_PlayerId > 0) {
							<MudChip Style="@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.PF_PlayerId)?.TeamCSS">
								<strong>@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.PF_PlayerId)?.PlayerName</strong>
							</MudChip>
						} else {
							<MudText>Select Player</MudText>
						}
					</MudButton>
				</ActivatorContent>
				<ChildContent>
					@foreach (var player in NBA_Players.Where(p => p.Position.Contains("PF"))) {
						<MudMenuItem OnClick="@(() => AddPlayerToStack(player.PlayerId, stack, "PF"))">
							<MudChip Style="@player.TeamCSS">
								@player.PlayerName
							</MudChip>
						</MudMenuItem>
					}
				</ChildContent>
			</MudMenu>
		</MudItem>
		<MudItem xs="2">
			<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true">
				<ActivatorContent>
					<MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowDropDown">
						@if (stack.PG_PlayerId > 0) {
							<MudChip Style="@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.C_PlayerId)?.TeamCSS">
								<strong>@NBA_Players.FirstOrDefault(player => player.PlayerId == stack.C_PlayerId)?.PlayerName</strong>
							</MudChip>
						} else {
							<MudText>Select Player</MudText>
						}
					</MudButton>
				</ActivatorContent>
				<ChildContent>
					@foreach (var player in NBA_Players.Where(p => p.Position.Contains("C"))) {
						<MudMenuItem OnClick="@(() => AddPlayerToStack(player.PlayerId, stack, "C"))">
							<MudChip Style="@player.TeamCSS">
								@player.PlayerName
							</MudChip>
						</MudMenuItem>
					}
				</ChildContent>
			</MudMenu>
		</MudItem>
		<MudItem xs="2">
			<MudIconButton Icon="@Icons.Material.Filled.Delete"></MudIconButton>
		</MudItem>
	}
</MudGrid>

<MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" OnClick="@AddStack">Add</MudButton>

